In [1]:
print("hello world")

hello world

In [ ]:
# Setting up Python and choosing an IDE
# Basic syntax and data types
# Variables and operators
# Input/output operations
# Basic string operations
# Writing your first program
# Best practices for code formatting (PEP 8)

In [3]:
list_of_fruits = ['apple', 'mango', 'banana', 'kiwi']

for fruit in list_of_fruits:
    print(fruit)

apple
mango
banana
kiwi

In [4]:
# Indentation
# Comments: Human friendly messages, python interpreter ignore those line.

# I am a comment

In [5]:
I am a comment

SyntaxError: invalid syntax (685052253.py, line 1)

In [6]:
# Syntax:- Grammar of a Programing Language
# 1. Rules while writing code.
# 2. If you don't follow the rules/syntax you will get a syntax error.

# Syntax of Python
1. in python keywords it's very important to follow the case. small case.

# and, or , not, is, if, else, for, etc

In [ ]:
# Basic Data Types

# The way there are different container for different purpose in kitchen.
# Similar to that to store data of different types we have containers called as 
# Data Types

In [7]:
x = 50
y = 20

z = x + y
print(z)

# x, y, and z are variables here
# 50 and 20 are values of int data type

# How to check what a variable is pointing to?

# type(x)

70

In [8]:
type(x)

int

In [9]:
y = 3.14

In [10]:
type(y)

float

In [ ]:
1. int 30, 40, -100, etc
2. float 40.20, -40.20, 3.14, etc
3. str
4. bool True, False

In [11]:
name = "Mohit Singh Chouhan"

print(name)

Mohit Singh Chouhan

In [12]:
type(name)

str

In [13]:
name = "234apple!#@!#$"

In [14]:
type(name)

str

In [ ]:
# name is a variable which is pointing to a string with value "234apple!#@!#$"

In [ ]:
username = "mohit@edyoda.com"
password = "###@@mohitsecret56565password"

In [ ]:
name should be stored as str
marks should be float
rollno should be int

In [ ]:
# Operators

Arithmetic +, - , *, /, //, %, **
Assignment =, +=, -=, *=, etc
Comparison ==, !=, >, < , >=, <=
Logical and, or, not

In [16]:
x = 5 # (Assignment Operator to assign 5 int value to variable x)
y = 4 # (Assignment Operator to assign 4 int value to variable y)
z = x + y # (Arithmetic Operator to add x and y) (Assignment Operator to assign that addition value to z)
print(z)

9

In [17]:
x = 5 # (Assignment Operator to assign 5 int value to variable x)
y = 4 # (Assignment Operator to assign 4 int value to variable y)
z = x - y # (Arithmetic Operator to sub x and y) (Assignment Operator to assign that sub value to z)
print(z)

1

In [18]:
x = 5 # (Assignment Operator to assign 5 int value to variable x)
y = 4 # (Assignment Operator to assign 4 int value to variable y)
z = x * y # (Arithmetic Operator to multiply x and y) (Assignment Operator to assign that multipli value to z)
print(z)

20

In [19]:
x = 5 # (Assignment Operator to assign 5 int value to variable x)
y = 4 # (Assignment Operator to assign 4 int value to variable y)
z = x / y # (Arithmetic Operator to div x and y) (Assignment Operator to assign that div value to z)
print(z)

1.25

In [20]:
x = 5 # (Assignment Operator to assign 5 int value to variable x)
y = 4 # (Assignment Operator to assign 4 int value to variable y)
z = x // y # (Arithmetic Operator to floor div x and y) (Assignment Operator to assign that floor div value to z)
print(z)

1

In [21]:
# % (Modulus)

# 9/4 =  2, 1 as the remainder

x = 9%4

y = 10%2

z = 17%5

print(x)
print(y)
print(z)

1
0
2

In [22]:
# ** power

2**4

16

In [23]:
# +=, -=, *=

x = 5

print('initial x', x)

x += 1  # short form for x = x + 1

print('final x', x)

initial x 5
final x 6

In [24]:
x = 5
x = x + 1

print(x)

6

In [25]:
x = 5
x += 1

print(x)

6

In [26]:
x = 5
x *= 2

print(x)

10

In [27]:
# Comparison ==, !=, >, < , >=, <=


# compare compare


x = 40

y = 41

x == y # is x equals to y? True/False => False

False

In [28]:
# Comparison ==, !=, >, < , >=, <=


# compare compare


x = 40

y = 40

x == y # is x equals to y? True/False => False

True

In [29]:
x = 45
y = 10

x>y

True

In [30]:
x = 45
y = 10

x<y

False

In [31]:
x = 45
y = 45

x<y

False

In [32]:
x = 45
y = 45

x <= y  # x is less than or equal to y

True

In [33]:
x = 45
y = 45

x >= y  # x is greater than or equal to y

True

In [34]:
x = 400
y = 300

x != y

True

In [35]:
x = 400
y = 400

x != y

False

In [36]:
# Logical and, or, not


isMathsPassed = True
isEnglishPassed = True
isSocialSciencePassed = False

# If everything is True, "and" gives us True
# If any one of the thing is False, "and" will give us False


mohit_passed = isMathsPassed and isEnglishPassed and isSocialSciencePassed

print(mohit_passed)

False

In [38]:
# Logical and, or, not


isMathsPassed = True
isEnglishPassed = True
isSocialSciencePassed = True

# If everything is True, "and" gives us True
# If any one of the thing is False, "and" will give us False


arun_passed = isMathsPassed and isEnglishPassed and isSocialSciencePassed

print(arun_passed)

True

In [39]:
# not

isSocialSciencePassed

True

In [40]:
not isSocialSciencePassed

False

In [ ]:
# not logical operator
# If something is True, it will make it false
# if something is False, it will make it true

# basically flip it

In [ ]:
# or operator

# If anything is True, it will be True
# If everything is False, than it will be False

In [44]:
# all mens are mortal, socrates is mortal

is_mohit_immortal = False
is_rohit_immortal = False
is_shweta_immortal = False

is_socrates_immortal = is_mohit_immortal or is_rohit_immortal or is_shweta_immortal or True

In [45]:
print(is_socrates_immortal)

True

In [46]:
True or False

True

In [47]:
False or False

False

In [48]:
False or True

True

In [49]:
True or True

True

In [50]:
False and False

False

In [51]:
False and True

False

In [52]:
True and False

False

In [53]:
True and True

True

In [54]:
# Input/Output

In [55]:
roll_no = input("Give me your roll no")

print(f'Happy to see that your roll no is {roll_no}')

Give me your roll no 59

Happy to see that your roll no is 59

In [56]:
roll_no = input("Give me your roll no")

new_roll_no = 100 + int(roll_no)

# type casting, changing the type from one type to another

print(f"Happy to see that your roll no is {roll_no}. But now it's changed to {new_roll_no}")

Give me your roll no 59

Happy to see that your roll no is 59. But now it's changed to 159

In [ ]:
# input function takes always a string

In [57]:
100 + "59"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [59]:
first_name = "mohit"
last_name = "chouhan"

full_name = first_name + " " + last_name

print(full_name)

mohit chouhan

In [60]:
roll_no = input("Give me your roll no")

print(type(roll_no))

Give me your roll no 59

<class 'str'>

In [ ]:
# Homework:
1. Install Python and Jupyter notebook (Use Chatgpt to solve issues)
2. play around in the jupyter notebook, trying to do what we did in the class
with different types of operators but taking the input from the user
3. Go and explore all the toolbar options of jupyter notebook like Run, Edit, etc
4. Read more about Python, Programming Language, Interpreter.

5. .pyc, PVM (Pthon Virtual Machine). What is CPython, What is JPython.

Question:- What Python by default we install in our system CPython or JPython?